SUPABASE_API_KEY="https://inhxzymxuochmcweabrw.supabase.co",
SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImluaHh6eW14dW9jaG1jd2VhYnJ3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2Njg3Nzc3MjAsImV4cCI6MTk4NDM1MzcyMH0.Ibn-n0RENrEDSVo_kq9emFzr9qTI0fjstbRnKguX9UY"